body {
    padding: 30px 30px;
    }
h1{
    color:blue;
    text-align: center;
}
h2{
    color:gold;
    background:blue;
    text-align: center;
}

.inputButton {
  display: block;
  margin-top: .5%;
  margin-bottom: 1%;
  margin-right: 1%;
  margin-left: 44%;
}

button {
  width: 200px;
  border-color: 10px black;
  padding: 10px;
}
button:hover {
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

button:
