/* Page wide stylization and tweaks */

body {
    padding: 30px 30px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: beige;
 }
h1{
    color:blue;
    text-align: center;
}

h2{
    color:gold;
    background:blue;
    text-align: center;
    margin-left: 34%;
    margin-right: 34%;
}

.publicEvents{
    margin-right: 20%;
    margin-left: 20%;
}

.nav-table a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  margin-left: 6%;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-table a:hover {
  background-color: gold;
  color: black;
}

.nav-table {
  overflow: hidden;
  background-color: blue;
}

 input[type=submit] {
  width: 100%;
  background-color: blue;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
 input[type=submit]:hover {
  background-color: #45a049;
}


/* Registration page css stylization */
.title{
    padding-bottom: 50px;
    margin: 0 auto;
    display: block;
    color: black;
    background:gold;
}

.registration{
    border: 3px solid blue;
    padding: 1em 5em;
    margin: 0 auto;
    width: 40%;
    background: gold;
}



/* Login page */

.formwrapper input {
  width: 90%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  border: 2px solid blue;
  background: #f1f1f1;
}

#submit {
  background-color: blue;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}


#login{
    border: 3px solid blue;
    padding: 1em 5em;
    margin: 0 auto;
    width: 40%;
    background: gold;
}


/* Home page stylization */
#homepage {
    border: 3px solid black;
    padding: 2em;
    margin: 0 auto;
    width: 40%;
    background: gold;
}

#start {
    border-radius: 50%;
    max-width: 100%;
    height: auto;
}
.imageStyling{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}


.inputButton {
  width: 80%;
  border-color: 10px black;
  padding: 1em;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  background: #FFE5B4;
  font-weight: bold;
  font-size: 15px;
}

button:hover {
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

/* Events Page */
.EventsTable {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.EventsTable td, .EventsTable th {
  border: 1px solid #ddd;
  padding: 8px;
}

.EventsTable tr:nth-child(even){background-color: #f2f2f2;}

.EventsTable tr:hover {background-color: #ddd;}

.EventsTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: blue;
  color: gold;
}

#shareButton {
    width: 100%;
  background-color: blue;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* New events page */
 .eventForm {
  width: 60%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid black;
  border-radius: 4px;
  box-sizing: border-box;
  background: gold;
  margin-left: 20%;
}

  .eventForm textarea {
  resize: none;
  width: 91.5%;
  height: 100px;
  }

  #Title {
  width: 91.5%;
  height: 35px;
  }

 #checkBox {
  height: 25px;
  width: 25px;
  background-color: grey;
 }

 .Dates {
 width: 91.5%;
 height: 35px;
 }

 #searchBar  {
  width: 100%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  padding: 12px 20px 12px 40px;
  margin-top: 1%;
  margin-bottom: 1%;
}

