<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="UNCC Events App">
        <title>UNCC Events App - View your Events</title>
        <!-- styles -->
         <link rel="stylesheet" href='static/main.css'>
    </head>
    <body>
       <div class="nav-table">
            <nav>

                        <a href="{{ url_for('index') }}"> Home</a>
                        <a href="{{ url_for('get_events') }}">Events</a>
                        <a href="{{ url_for('new_event') }}">Create</a>

                    {% if user %}

                        <a href="{{ url_for('logout')}}">Logout</a>

                    {% else %}

                        <a href="{{ url_for('login') }}">Sign In</a>
                        <a href="{{ url_for('register') }}">Register</a>
                    {% endif %}
            </nav>
        </div>
        <h1>Welcome {{user}} to the event listings!</h1>

        <h2>My Events</h2>


        <table style="border: 2px solid black; margin: 0 auto">
            <tr>
                <th></th>
                <th style="border: 2px solid black">Event Title</th>
                <th style="border: 2px solid black">Event Start Date</th>
                <th style="border: 2px solid black">Event End Date</th>
            </tr>
            {% for event in events %}
            <tr>
                <td style="border: 2px solid black"><a id="shareButton" href="{{ url_for('share') }}">Share</a></td>
                <td style="border: 2px solid black"><a href="{{ url_for('get_event', event_id=event.id) }}">{{ event.event_name }}</a></td>
                <td style="border: 2px solid black">{{ event.start_date }}</td>
                <td style="border: 2px solid black">{{ event.end_date }}</td>
                <td>
                         <a href="{{ url_for('update_event', event_id=event.id)}}">
                             <input type="submit" value="Edit"/>
                         </a>
                </td>
                <td>
                    <form action="{{ url_for('delete_event', event_id=event.id) }}" method="post">
                        <input type="submit" value="Delete">
                    </form>
                </td>
            </tr>

            {% endfor %}
        </table>

        <h2>Public Events From Other Users</h2>
       <table style="border: 2px solid black; margin: 0 auto">
             <tr>
                <th style="border: 2px solid black">Event Title</th>
                <th style="border: 2px solid black">Event Start Date</th>
                <th style="border: 2px solid black">Event End Date</th>
             </tr>

             {% for public_event in public_events %}
           <tr>
                <td><a href="{{ url_for('get_event', event_id=public_event.id) }}">{{ public_event.event_name }}</a></td>
                <td>{{ public_event.start_date }}</td>
                <td>{{ public_event.end_date }}</td>
               <td>
                   <a href="{{ url_for('rsvp', event_id=public_event.id) }}">
                       <input type="submit" value="RSVP"/>
                   </a>
               </td>
               <td>
                   <a href="{{ url_for('rate', event_id=public_event.id) }}">
                       <input type="submit" value="Rate This Event"/>
                   </a>
               </td>
           </tr>
             {% endfor %}


        </table>
    </body>
</html>
