<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="UNCC Events App">
    <title>UNCC Events App - View your Event</title>
    <!-- styles -->
     <link rel="stylesheet" href='../static/main.css'>
</head>
<body>
 <div class="nav-table">
            <nav>

                        <a href="{{ url_for('index') }}"> Home</a>
                        <a href="{{ url_for('get_events') }}">Events</a>
                        <a href="{{ url_for('new_event') }}">Create</a>

                    {% if user %}

                        <a href="{{ url_for('logout')}}">Logout</a>

                    {% else %}

                        <a href="{{ url_for('login') }}">Sign In</a>
                        <a href="{{ url_for('register') }}">Register</a>
                    {% endif %}
            </nav>
        </div>


<h2 style="color: gold; background-color: blue; text-align: center;">{{ event.event_name }}</h2>

<div style="text-align: center;">
    <h3>{{ event.event_details }}</h3>
    <h3>Event Starts: {{ event.start_date }}</h3>
    <h3>Event Ends: {{ event.end_date }}</h3>
    <h3>This event is {% if not event.public %}<em> NOT </em>{% endif %} public</h3>
</div>

<h2 style="color: gold; background-color: blue; text-align: center;">See Who's Going</h2>

{% for rsvp in rsvps %}
    <h3 style="text-align: center;">{{ rsvp.user_name }} is {% if not rsvp.status %} <em>NOT</em> {% endif %} attending</h3>
{% endfor %}

<h2 style="color: gold; background-color: blue; text-align: center;">Ratings left by Users</h2>

{% for rating in ratings %}
    <h3 style="text-align: center;">{{ rating.user_name }} left a review of {{ rating.rating_no}} stars.</h3>
{% endfor %}

</body>
</html>
