<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="UNCC Notes App">
        <title>UNCC Event App</title>
        <!-- styles -->
        <link rel="stylesheet" href='static/main.css'>
        <script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>
    </head>
    <body>
        {% if user %}
        <h1>Welcome back {{user}}!</h1>
        <h2>Use this site to maintain and organize your events</h2>


        {% else %}
        <h1>Welcome new User!</h1>
        <h2>Use this site to maintain and organize your events</h2>
        {% endif %}



        <form id="homepage">
        {% if user %}
        <img class="imageStyling" src="{{ url_for('static' , filename='notes.png') }}">
        <a href="{{ url_for('new_event') }}"><button type="button" class="inputButton" >Create Event</button></a><br>
        <a href="{{ url_for('get_events') }}"><button type="button" class="inputButton">View Event</button></a><br>
        <a href="{{ url_for('logout') }}"><button type="button" class="inputButton">Logout</button></a><br>
        {% else %}
        <img src="{{ url_for('static' , filename='newUser.png') }}" id="start">
        <a href="{{ url_for('login') }}"><button type="button" class="inputButton">Login</button></a><br>
        <a href="{{ url_for('register') }}"><button type="button" class="inputButton">Register</button></a><br>
        {% endif %}
        </form>
</body>
</html>
