<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="UNCC Notes App">
        <title>UNCC Notes App</title>
        <!-- styles -->
        <link rel="stylesheet" href='static/main.css'>
    </head>
    <body> 

        <h1>Welcome {{user}} to the Event Page!</h1>

        <h2>Use this site to maintain and organize your events.</h2>

        <form id="homepage">
        {% if user %}
        <a href="{{ url_for('new_event') }}" class="inputButton"><button type="button">Create Event</button></a><br>
        <a href="{{ url_for('get_events') }}" class="inputButton"><button type="button">View Event</button></a><br>
        <a href="{{ url_for('logout') }}" class="inputButton"><button type="button">Logout</button></a><br>
        {% else %}
        <a href="{{ url_for('login') }}" class="inputButton"><button type="button">Login</button></a><br>
        <a href="{{ url_for('register') }}" class="inputButton"><button type="button">Register</button></a><br>
        {% endif %}
        </form>


    </body>
</html>
