<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Event Tracker App">
        <title>Event Tracker - New Event</title>
        <!-- styles -->
         <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    </head>
    <body>

     <div class="nav-table">
            <nav>

                        <a href="{{ url_for('index') }}"> Home</a>
                        <a href="{{ url_for('get_events') }}">Events</a>
                        <a href="{{ url_for('search') }}">Search</a>
                        <a href="{{ url_for('new_event') }}">Create</a>
                        <a href="{{ url_for('get_friends') }}">Friends</a>

                    {% if user %}

                        <a href="{{ url_for('logout')}}">Logout</a>

                    {% else %}

                        <a href="{{ url_for('login') }}">Sign In</a>
                        <a href="{{ url_for('register') }}">Register</a>
                    {% endif %}
            </nav>
        </div>
        <h1>Create your own event!</h1>
    {% if event %}
        <form class="eventForm" action="{{ url_for('update_event', event_id = event.id) }}" method="post">
    {% else %}
        <form class="eventForm" action="new" method="post">
    {% endif %}
           <p><label>Title </label></p>
            <p><input id="Title" type="text" name="event_name" value="{% if event %} {{event.event_name}} {% endif %}"/></p>
            <p><label>Description </label></p>
            <p>
                <textarea name="event_details"  rows="6" cols="0">
                    {% if event %}
                    {{event.event_details}}
                    {% else %}
                    {% endif %}
                </textarea>
            </p>

            <p><label >Start Date </label></p>
            <p><input class="Dates" type="date" name="start_date" value="{% if event %} {{event.start_date}} {% endif %}"/></p>

            <p><label >End Date </label></p>
            <p><input class="Dates" type="date" name="end_date" value="{% if event %} {{event.end_date}} {% endif %}"/></p>

            <p><label>Public event?</label></p>
            <p><input id="checkBox" type="checkbox" name="public" {% if event %}
            {% if event.public %} checked {% endif %}  {% endif %}

            /></p>




            <p>
                {% if event %}
                    <input type="submit" value="Update Event"/>
                {% else %}
                    <input type="submit" value="Create Event"/>
                {% endif %}
            </p>
        </form>
    </body>
</html>
