<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="UNCC Events App">
        <title>UNCC Events App - Rate</title>
        <!-- styles -->
         <link rel="stylesheet" href='../static/main.css'>
    </head>
    <body>
        <div class="nav-table">
            <nav>

                        <a href="{{ url_for('index') }}"> Home</a>
                        <a href="{{ url_for('get_events') }}">Events</a>
                        <a href="{{ url_for('search') }}">Search</a>
                        <a href="{{ url_for('new_event') }}">Create</a>
                        <a href="{{ url_for('get_friends') }}">Friends</a>

                    {% if user %}

                        <a href="{{ url_for('logout')}}">Logout</a>

                    {% else %}

                        <a href="{{ url_for('login') }}">Sign In</a>
                        <a href="{{ url_for('register') }}">Register</a>
                    {% endif %}
            </nav>
        </div>
        <h1>Welcome {{user}} to the Event Scheduling App!</h1>

        <h2>Add A new Friend</h2>

       <form class="eventForm" action="{{ url_for('add_friend') }}" method="POST">
           <p><label>Enter the email of the friend you'd like to add</label></p>
           <p><input type="email" name="email" required></p>
           <p><input type="submit" value="Add Friend"></p>
       </form>

    </body>
</html>
