<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UNCC Events App</title>
    <!-- styles -->
     <link rel="stylesheet" href='static/main.css'>
</head>
    <body>
        <div class="nav-table">
		<nav>

            <a href="{{ url_for('index') }}"> Home</a>
            <a href="{{ url_for('get_events') }}">Events</a>
            <a href="{{ url_for('new_event') }}">Create</a>

            {% if user %}

            <a href="{{ url_for('logout')}}">Logout</a>

            {% else %}

            <a href="{{ url_for('login') }}">Sign In</a>
            <a href="{{ url_for('register') }}">Register</a>
            {% endif %}

        </nav>
        </div>
        <h1>Welcome {% if user %}{{user}}{% endif %}to the Event Scheduling App!</h1>
        <div class="formwrapper">
            <form class="registration" method="POST" action="/register">
                <h2 class="title"><strong>Sign Up</strong></h2>

                <div class="form-field"><strong>{{ form.firstname.label }} {{ form.firstname }}</strong>
                    {% if form.firstname.errors %}
                    <ul class="errors">
                        {% for error in form.firstname.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="form-field"><strong>{{ form.lastname.label }} {{ form.lastname }}</strong>
                    {% if form.lastname.errors %}
                    <ul class="errors">
                        {% for error in form.lastname.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="form-field"><strong>{{ form.email.label }} {{ form.email }}</strong>
                    {% if form.email.errors %}
                    <ul class="errors">
                        {% for error in form.email.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="form-field"><strong>{{ form.password.label }} {{ form.password }}</strong>
                    {% if form.password.errors %}
                    <ul class="errors">
                        {% for error in form.password.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="form-field"><strong>{{ form.confirmPassword.label }} {{ form.confirmPassword }}</strong>
                    {% if form.confirmPassword.errors %}
                    <ul class="errors">
                        {% for error in form.confirmPassword.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                {{ form.submit }}
            </form>

        </div>
    </body>
</html>
