<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="UNCC Events App">
        <title>UNCC Events App - RSVP</title>
        <!-- styles -->
         <link rel="stylesheet" href='../static/main.css'>
    </head>
    <body>
       <nav>
		<table>
				<tr>
                    <td><a href="{{ url_for('index') }}"> Home</a></td>
                    <td><a href="{{ url_for('get_events') }}">Events</a></td>
                    <td><a href="{{ url_for('new_event') }}">Create</a></td>
                </tr>
                {% if user %}
                <tr>
                    <td><a href="{{ url_for('logout')}}">Logout</a></td>
                </tr>
                {% else %}
                <tr>
                    <td><a href="{{ url_for('login') }}">Sign In</a></td>
                    <td><a href="{{ url_for('register') }}">Register</a></td>
                </tr>
                {% endif %}
        </table>
    </nav>
        <h1>Welcome {{user}} to the Event Scheduling App!</h1>

        <h2>RSVP</h2>

       {% if rsvp %}
       <h3 style="text-align: center;">You currently have an RSVP for this Event, you can change it below</h3>

        <form action="{{ url_for('edit_rsvp', event_id = event.id) }}" method="post">
    {% else %}
        <form action="{{ url_for('rsvp', event_id = event.id) }}" method="post">
    {% endif %}
           <p><label>Will You Be Attending? Y/N</label></p>
           <p><input type="text" name="status" placeholder="Y" required></p>
           <p><input type="submit" value="RSVP"></p>
       </form>

    </body>
</html>
